{% extends 'rango/base.html' %}

{% block body_block %}
<div class="hero-unit">
    <h1> Add a Category</h1>
    <br/>
    <div class="container">
        <form id="category_form" class="span6" method="post" action="/rango/add_category/">
            {% csrf_token %}
            {%  for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

           {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <br/>
            <input class = "btn btn-primary" type="submit" name="submit" value="Create a category" />
        </form>
    </div>
</div>

{% endblock %}